snippet date
`!v strftime("%F")`
endsnippet

snippet shrug
¯\_(ツ)_/¯
endsnippet


snippet darr
↓
endsnippet

snippet larr
←
endsnippet

snippet rarr
→
endsnippet

snippet uarr
↑
endsnippet


snippet degree
°
endsnippet

snippet therefore
∴
endsnippet


snippet delta
Δ
endsnippet

snippet epsilon
ε
endsnippet

snippet mu
μ
endsnippet

snippet theta
θ
endsnippet


snippet 1/2
½
endsnippet

snippet 1/3
⅓
endsnippet

snippet 1/4
endsnippet

snippet 1/8
⅛
endsnippet

