snippet link
link:$0[${VISUAL}]
endsnippet

snippet xref
xref:$0[${VISUAL}]
endsnippet

snippet table
|===
| $0
|===
endsnippet

snippet todo
* [ ] $0
endsnippet

snippet todoo
** [ ] $0
endsnippet

snippet todooo
*** [ ] $0
endsnippet
